ENV_FOR_DYNACONF=default

BOT_TOKEN=5424991242:AAGwomxQz1p46bRi_2m3V7kvJlt5RjK9xr0

REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=default
REDIS_TTL_STATE=None
REDIS_TTL_DATA=None